accelerate
autopep8
baal
bitsandbytes
datasets
evaluate
hf_xet
huggingface_hub
jupyter
jupyterlab
matplotlib
numpy
onnx
onnxruntime
optuna
pandas
peft
pip
pydantic
pytest
python-dotenv
safetensors
scikit-learn
scikit-activeml[opt]
seaborn
tensorboard
tiktoken
torch
torchtext
tqdm
transformers[torch]
umap-learn
